<div class="well comment-<%= local_assigns[:color] %>">
	<ul class="comment-container">
		<li>
		  <small>Anon - <%= time_ago_in_words(comment.created_at) %> ago</small>
		  <br>
		  <%= comment.body %>
		  <br>

		  <%= link_to 'Reply', '#comment-' + comment.id.to_s, onclick: 'renderCommentForm(' + comment.id.to_s + ')' %>

		  <div id='comment-<%= comment.id.to_s %>' style="display: none">
		  	<%= render 'comments/comment_form', comment: comment %>
		  	<%= link_to 'Cancel', '#comment-' + comment.id.to_s, onclick: 'cancelCommentForm(' + comment.id.to_s + ')' %>
		  </div>
		</li>
	</ul>

	<% unless comment.comments.empty? %>
    <%= render partial: 'comments/comment', collection: comment.comments, locals: {color: changeCommentColor(local_assigns[:color])} %>
  <% end %>
</div>

<script>
	function renderCommentForm(id) {
		document.getElementById('comment-' + id).style.display = 'initial';
	}

	function cancelCommentForm(id) {
		document.getElementById('comment-' + id).style.display = 'none';
	}
</script>