<div id="focus-comment-<%= comment.id.to_s %>" class="comment-container">
	<div class="comment-<%= local_assigns[:color] %> comment-bg-<%= @bg_num %>">
	  <small>Anon - <%= time_ago_in_words(comment.created_at) %> ago</small>
	  <br>
	  <%= comment.body %>
	  <br>

		<div id="reply-<%= comment.id.to_s %>">
	  	<%= link_to 'Reply', '#focus-comment-' + comment.id.to_s, onclick: 'renderCommentForm(' + comment.id.to_s + ')' %>
	  </div>

	  <div id='comment-<%= comment.id.to_s %>' style="display: none">
	  	<%= render 'comments/comment_form', comment: comment %>
	  	<%= link_to 'Cancel', '#comment-' + comment.id.to_s, onclick: 'cancelCommentForm(' + comment.id.to_s + ')' %>
	  </div>
	</div>

	<% unless comment.comments.empty? %>
    <%= render partial: 'comments/comment', collection: comment.comments, locals: {color: changeCommentColor(local_assigns[:color])} %>
  <% end %>
</div>

<script>
	function renderCommentForm(id) {
		document.getElementById('comment-' + id).style.display = 'block';
		document.getElementById('reply-' + id).style.display = 'none';
	}

	function cancelCommentForm(id) {
		document.getElementById('comment-' + id).style.display = 'none';
		document.getElementById('reply-' + id).style.display = 'block';
	}
</script>