<h1>Editing "<%= @post.title %>"</h1>


<%= form_for @post, url: {action: "update_post"} do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body, size: "60x12" %>
  <%= f.hidden_field :id %>
  <%= f.submit "Update" %>
<% end %>