<h1><%= @post.title %></h1>
<p>Author: <%= @post.author %></p>
<p>
	<% if @post.author == username(current_admin.email) %>
		<%= link_to 'edit', admin_edit_post_path(id: @post.id) %>
	<% end %>
</p>
<br>
<p><%= @post.body.html_safe %></p>
<hr>

<h3 id="focus-post">Comments</h3>

<div id="tier-1-new-comment">
	<%= link_to 'New Comment', '#focus-post', onclick: 'renderTierOneCommentForm()' %>
</div>

<div id="tier-1-comment-form" style="display: none">
	<%= form_for [@post, Comment.new] do |f| %>
		<%= f.text_area :body, placeholder: "Add a comment" %><br/>
		<%= f.submit "Add Comment" %>
	<% end %>
	<%= link_to 'Cancel', '#focus-post', onclick: 'cancelTierOneCommentForm()' %>
</div>
<br>

<% unless @post.comments.empty? %>
	<div class="comment-divider"></div>
	<%= render partial: 'comments/comment', collection: @post.comments, locals: {color: "none"} %>
<% end %>
<br>

<% if admin_signed_in? %>
	<%= link_to "Back to Admin Index", admin_path %>
	<br>
<% end %>
<%= link_to "Back to Home", root_path %>

<script>
	function renderTierOneCommentForm() {
		document.getElementById('tier-1-comment-form').style.display = 'block';
		document.getElementById('tier-1-new-comment').style.display = 'none';
	}

	function cancelTierOneCommentForm() {
		document.getElementById('tier-1-comment-form').style.display = 'none';
		document.getElementById('tier-1-new-comment').style.display = 'block';
	}
</script>