<h1><%= @post.title %></h1>
<p>Author: <%= @post.author %></p>
<p>
	<% if @post.author == username(current_admin.email) %>
		<%= link_to 'edit', admin_edit_post_path(id: @post.id) %>
	<% end %>
</p>
<br>
<p><%= @post.body %></p>
<hr>

<h3>Comments</h3>

<%= form_for [@post, Comment.new] do |f| %>
	<%= f.text_area :body, placeholder: "Add a comment" %><br/>
	<%= f.submit "Add Comment" %>
<% end %>
<br>

<% unless @post.comments.empty? %>
	<div class="comment-divider"></div>
	<%= render partial: 'comments/comment', collection: @post.comments, locals: {color: "none"} %>
<% end %>
<br>

<%= link_to "Back", root_path %>